DATABASE_URL="postgresql://usuario:senha_banco@localhost:5432/mydb?schema=public"

# Better Auth config
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
NEXT_PUBLIC_URL=

#Google credencials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

