/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.cont_result {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-header {
  text-align: center;
  padding: 2%;
  margin-bottom: 20px;
  background-image: var(--color-background-0);
}

.result-header h1 {
  font-size: 1.5rem;
  font-family: var(--font-primary);
}

.score {
  background: #eef2ff;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
}

.score h2 {
  font-size: 2rem;
  color: #007bff;
  margin-top: 15px;
  margin-bottom: 15px;
}

.stats {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 5% 10%;
}
.stats span {
  font-size: 18px; /* Escolha o tamanho desejado */
  font-weight: bold; /* Opcional: destaca o texto */
  color: #333; /* Opcional: altera a cor */
}

.stats span b {
  color: #007bff;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

button.exit {
  background: #6c757d;
}

button:hover {
  opacity: 0.9;
}

main h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-align: center;
}

.question-card {
  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  margin: 20px 0;
}

.question-card h3 {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #333;
}

.question-card p {
  margin: 10px 0;
  color: #555;
}

.options {
  margin-top: 15px;
}

.options label {
  display: block;
  margin-bottom: 10px;
  font-size: 0.95rem;
  color: #333;
}

.options input[type="radio"] {
  margin-right: 10px;
}

/* Estilo para respostas corretas */
.resposta-certa {
  background-color: #d4edda; /* Verde claro */
  color: #155724; /* Verde escuro */
  border: 2px solid #c3e6cb; /* Bordas verde claro */
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Estilo para respostas erradas */
.resposta-errada {
  background-color: #f8d7da; /* Vermelho claro */
  color: #721c24; /* Vermelho escuro */
  border: 2px solid #f5c6cb; /* Bordas vermelho claro */
  border-radius: 5px;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

/* Efeito de hover para melhor experiência */
.resposta-certa:hover, 
.resposta-errada:hover {
  opacity: 0.9;
}
