@import url(/src/styles/styles.css);


body {
    
    font-family: Roboto, Sans-serif;
    background-color: #ede7f6;
    
}

.form {
    max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.required {
    font-size: 13px;
    color: red;
}

.title-div, .question-div {
    background-color:  #007bff;
    margin: 15px 0 15px 0;
    padding: 15px;
    border-radius: 1px;
    border: 1px solid #ddd;
   
}

.question-div {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    

}

.name {
    font-size: 1rem;
  margin-bottom: 10px;
  
}

.input-div label {
    font-size: 1rem;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin: 15px;
    cursor: pointer;
}

.last-div h2 {
    text-align: center;
    color: #a2a4a6;
    font-weight: 200;
}